# Dit is een voorbeeld .gitignore bestand. 
# Files in dit bestand worden niet in de GIT repository geplaatst (genegeerd).

# Bestanden met de volgende extensie negeren
*.class
*.log
*.log.*
*.jar

# Bestanden met een ! ervoor niet negeren
#!lib.a

# Bestand TODO in de root (/) negeren, andere TODO-bestanden niet.
/TODO

# De volgende bestanden negeren:
.classpath
.project

# Negeer alle bestanden in de volgende directories
bin/
build/
repos/
.settings/
.gradle/
.metadata/

# Negeer doc/notes.txt, maar niet doc/server/arch.txt
doc/*.txt

# Negeer alle .txt files in de doc/ directory
doc/**/*.txt